<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="/css/style.css"  rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <style>
          .field-error {
            boarder-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">safefood</div>
        <div class="logo_2nd">Expiry Date Management Service</div>
    </div><!-- /header -->
    <div class="service_desc">
        <img src="/images/JerryThanks.gif" width="100%" loop=0>
        <div class="service_desc_text">
            회원 탈퇴 페이지입니다.</br>
            그 동안 제 서비스를 이용해 주셔서 감사하고, 옆에 있는 주의사항을 꼭 읽어주세요.</br>
            회원 탈퇴가 완료되면, 자동으로 홈 화면으로 이동하게 됩니다.
        </div><!-- /service_desc_text -->
    </div><!-- /service_desc -->
    <div class="log_sign">
        <h1>탈퇴 안내</h1>
        <div style="color:white; font-size:0.8em;">회원 탈퇴 신청에 앞서 아래의 사항을 <b style="color:red;">반드시 확인</b>하시기 바랍니다.</div>
        <div style="overflow-y:scroll; max-height: 300px;">
            <div class="service_desc_text">
                <b style="color:black">1. 등록한 식품의 정보는 관련.</b></br>
                <div style="color:white;"> &nbsp;회원님이 등록하신 모든 식품 정보는 사라지게 됩니다.</div>
                <b style="color:black">2. 식품 알람 서비스 관련.</b></br>
                <div style="color:white;"> &nbsp;회원님이 받으셔야 하는 메일 알람을 받을 수 없게 됩니다.</div>
            </div><!-- /service_desc_text -->
            <form action="" th:action th:object="${withdrawForm}" method="post">
                <div>
                    <div class="form-check">
                        <input type="checkbox" id="checked" th:field="*{checked}" th:errorclass="field-error" class="form-check-input">
                        <label class="form-check-label" style="position:relative;">
                            <span style="color:white; vertical-align:top;">해당 사실을 모두 확인하였으며, 탈퇴에 동의합니다.</span>
                        </label>
                    </div>
                    <div class="field-error" th:errors="*{checked}"></div>
                </div>
                <h2>패스워드 인증</h2>
                <div style="color:white;  font-size:0.8em;">타인에 의한 회원탈퇴를 방지하기 위해 추가 인증을 수행합니다.</div>
                <div class="row">
                    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="로그인된 계정의 비밀번호">
                    <div class="field-error" th:errors="*{password}"></div>
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">확인</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"  th:onclick="|location.href='@{/}'|" type="button">취소</button>
                    </div>
                </div>
            </form>
        </div><!-- /table_form -->
    </div><!-- /log_sign -->
</div><!-- /container -->
</body>
</html>